

{% extends 'base.html' %}
{% block content %}
 <h1> About Flask </h1>
 <p><h3> Flask is a micro web framework written in Python.</h3></p>
 <p>Applications that use the Flask framework include Pinterest,
 Applications that use the Flask framework include Pinterest,
 Applications that use the Flask framework include Pinterest,
 Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.</p>
<p> Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.
 Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.</p>
<p> Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.
 Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.</p>
<p> Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.
 Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.</p>
<p> Applications that use the Flask framework include Pinterest,
 LinkedIn, and the community web page for Flask itself.
 <h2> Applications that use the Flask framework include Pinterest</h2>
 {% endblock %}

