
{% extends 'base.html' %}

{% block content %}
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
<form method="POST" action="">

<div class="form-row">

<div class="col-12 col-md-9 mb-2 mb-md-0">
<input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name">
</div>
<div class="col-12 col-md-9 mb-2 mb-md-0">
<input type="text" name="code" class="form-control form-control-lg" placeholder="Enter code">
</div>
<div class="col-12 col-md-9 mb-2 mb-md-0">
<input type="text" name="address" class="form-control form-control-lg" placeholder="Enter address">
</div>
<div class="col-12 col-md-9 mb-2 mb-md-0">
<input type="text" name="age" class="form-control form-control-lg" placeholder="Enter age">
</div>
      <div class="col-12 col-md-3">
<button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
              </div>
             </div>
           </form>
     </div>
	 {% endblock %}
